<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:name="io.github.phunguy65.zms.ZeroMeetingApp"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ZeroMeeting">
        <activity
                android:name="io.github.phunguy65.zms.view.splash.SplashActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.phunguy65.zms.view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.guest.JoinGuestActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.meetingcreate.CreateMeetingActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.meetingroom.joinmeeting.JoinMeetingActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.schedule.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.meetingroom.MeetingRoomActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.meetingroom.participant.ParticipantsActivity"
            android:exported="false" />
        <activity
            android:name="io.github.phunguy65.zms.view.meetingroom.chat.MeetingChatActivity"
            android:exported="false" />
    </application>

</manifest>
